.get-in-touch-block {
    margin-bottom: calc(150*0.007rem);

    ul{
        -webkit-transition: -webkit-transform 1s;
        transition: -webkit-transform 1s;
        transition: transform 1s;
        transition: transform 1s, -webkit-transform 1s;
        display: inline-block;
    }

    ul li{
        position: relative;

        margin-right: .4rem;
        display: inline-block;

        &:hover {
            .form-init--back {
                display: block;
            }
        }
    }
}

.form-init, .form-init--back{
    text-decoration: none;
    text-transform: uppercase;
    font-size: .52rem;
    line-height: .7rem;
    font-weight: bold;
    letter-spacing: 0.09em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .01rem #262626;
}

.form-init {
    width: -moz-max-content, max-content, -webkit-max-content;
    -webkit-transition: all 1s ease;
    transition: all .8s ease;
    position: relative;

    &:after {
        content: "";
        width: .25rem;
        height: .09rem;
        border: 0.007rem solid rgba(0, 0, 0, 0.795);
        
        position: absolute;
        top: 50%;
        right: -.35rem;

        transform: translateY(-50%);
    }

    &--back{
        display: none;

        position: absolute;
        bottom: calc(4*0.007rem);
        left: calc(-7*0.007rem);

        svg{
            width: 3.5rem;
            height: .4rem;
        
            image{
                display: block;
                width: 3.5rem;
            }

            text{
                transform: translateY(100%);
            }
        }
    }
}

// list1
.get-in-touch-first-row-list1,
.get-in-touch-third-row-list1 {
    -webkit-animation: marqueeL 30s linear infinite;
    animation: marqueeL 30s linear infinite;
}

// list2
.get-in-touch-first-row-list2,
.get-in-touch-third-row-list2 {
    -webkit-animation: marquee2 30s linear infinite;
    animation: marquee2 30s linear infinite;
    -webkit-animation-delay: 15s;
    animation-delay: 15s;
}

.get-in-touch-second-row-list1 {
    -webkit-animation: marqueeR 20s linear infinite;
    animation: marqueeR 20s linear infinite;
}

// !!!!!!!!!!!!!!!!!!!!!!!!!!!!
.get-in-touch-second-row-list2 {
    -webkit-animation: marquee3 20s linear infinite;
    animation: marquee3 20s linear infinite;
    -webkit-animation-delay: 10s;
    animation-delay: 10s;
}

.get-in-touch-first-row-container,
.get-in-touch-third-row-container {
    -webkit-transition: 5s linear;
    transition: 5s linear;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: flex;
    white-space: nowrap;
}

.get-in-touch-second-row-container {
    -webkit-transition: 5s linear;
    transition: 5s linear;
    -webkit-transform: translateX(10%);
    transform: translateX(10%);
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: flex;
    white-space: nowrap;
}

.get-in-touch-first-row-container:hover,
.get-in-touch-second-row-container:hover,
.get-in-touch-third-row-container:hover {
    -webkit-transform: translateX(-30%);
    transform: translateX(-30%);
}

@-webkit-keyframes marqueeL {
    from {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    to {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@keyframes marqueeL {
    from {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    to {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@-webkit-keyframes marquee2 {
    from {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }

    to {
        -webkit-transform: translateX(-200%);
        transform: translateX(-200%);
    }
}

@keyframes marquee2 {
    from {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }

    to {
        -webkit-transform: translateX(-200%);
        transform: translateX(-200%);
    }
}

@-webkit-keyframes marqueeR {
    from {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    to {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

@keyframes marqueeR {
    from {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    to {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

@-webkit-keyframes marquee3 {
    from {
        -webkit-transform: translateX(-200%);
        transform: translateX(-200%);
        }
    to {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@keyframes marquee3 {
    from {
        -webkit-transform: translateX(-200%);
        transform: translateX(-200%);
        }
    to {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}