.device{
    display: flex;
    position: relative;
    width: 100%;
}

.first{
    display: block;
    width: 100%;
    height: calc(900 * 0.007rem);

    img{
        height: 100%;
        position: absolute;
        top: calc(-40*0.007rem);
        left: calc(-300*0.007rem);
        z-index: -1000;
    }
}