
.portfolio{
    text-transform: uppercase;
    font-weight: 800;

    transition: transform .2s linear;

    position: relative;

    &:hover{
        transform: scale(1.4);

        &:after, &:before{
            opacity: 0;
        }
    }

    &:after, &:before{
        height: calc(5*0.007rem);
        width: calc(80*0.007rem);

        content: "";
        position: absolute;
        top: 150%;
        transform: translateY(-50%);

        opacity: 1;
        transition: opacity .2s linear;
    }

    &:before{
        background-color: #D0D0D0;
        left: calc(-15*0.007rem);
    }

    &:after{
        left: calc(calc(-15*0.007rem) + calc(80*0.007rem));
        background-color: #000;
    }

    &--right{
        &:after, &:before{
            width: calc(110*0.007rem);
        }

        &:before{
            left: 0;
        }
    
        &:after{
            left: calc(110*0.007rem);
        }
    }
}


