<footer>
    <div class="container">
        <div class="discussion">
            <div class="portfolio">портфолио</div>
            <a href="">Обсудить проект</a>
            <div class="portfolio portfolio--right">проект|sushi|doma</div>
        </div>

        <div class="get-in-touch-block">
            <div class="get-in-touch-third-row-container">
                <ul class="get-in-touch-third-row-list1">
                    <li>
                        <a href="#" class="form-init">СВЯЗАТЬСЯ</a>
                        <a href="#" class="form-init--back">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <defs>
                                    <pattern id="b1" patternUnits="userSpaceOnUse" height="100%" width="100%" >
                                        <image xlink:href="/assets/images/Rectangle 46.jpg"/> 
                                    </pattern> 
                                </defs> 
                                <text fill="url(#b1)">
                                    СВЯЗАТЬСЯ
                                </text>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="form-init">СВЯЗАТЬСЯ</a>
                        <a href="#" class="form-init--back">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <defs>
                                    <pattern id="b2" patternUnits="userSpaceOnUse" height="100%" width="100%">
                                        <image xlink:href="/assets/images/Rectangle 46.jpg"/> 
                                    </pattern> 
                                </defs> 
                                <text fill="url(#b2)">
                                    СВЯЗАТЬСЯ
                                </text>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="form-init">СВЯЗАТЬСЯ</a>
                        <a href="#" class="form-init--back">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <defs>
                                    <pattern id="b3" patternUnits="userSpaceOnUse" height="100%" width="100%" >
                                        <image xlink:href="/assets/images/Rectangle 46.jpg"/> 
                                    </pattern> 
                                </defs> 
                                <text fill="url(#b3)">
                                    СВЯЗАТЬСЯ
                                </text>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="form-init">СВЯЗАТЬСЯ</a>
                        <a href="#" class="form-init--back">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <defs>
                                    <pattern id="b4" patternUnits="userSpaceOnUse" height="100%" width="100%">
                                        <image xlink:href="/assets/images/Rectangle 46.jpg"/> 
                                    </pattern> 
                                </defs> 
                                <text fill="url(#b4)">
                                    СВЯЗАТЬСЯ
                                </text>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="form-init">СВЯЗАТЬСЯ</a>
                        <a href="#" class="form-init--back">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
                                <defs>
                                    <pattern id="b5" patternUnits="userSpaceOnUse" height="100%" width="100%">
                                        <image xlink:href="/assets/images/Rectangle 46.jpg"/> 
                                    </pattern> 
                                </defs> 
                                <text fill="url(#b5)">
                                    СВЯЗАТЬСЯ
                                </text>
                            </svg>
                        </a>
                    </li>
                </ul>
                <ul class="get-in-touch-third-row-list2">
                    <li>
                        <a href="#" class="form-init">СВЯЗАТЬСЯ</a>
                        <a href="#" class="form-init--back">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <defs>
                                    <pattern id="b6" patternUnits="userSpaceOnUse" height="100%" width="100%">
                                        <image xlink:href="/assets/images/Rectangle 46.jpg"/> 
                                    </pattern> 
                                </defs> 
                                <text fill="url(#b6)">
                                    СВЯЗАТЬСЯ
                                </text>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="form-init">СВЯЗАТЬСЯ</a>
                        <a href="#" class="form-init--back">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <defs>
                                    <pattern id="b7" patternUnits="userSpaceOnUse" height="100%" width="100%">
                                        <image xlink:href="/assets/images/Rectangle 46.jpg" /> 
                                    </pattern> 
                                </defs> 
                                <text fill="url(#b7)">
                                    СВЯЗАТЬСЯ
                                </text>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="form-init">СВЯЗАТЬСЯ</a>
                        <a href="#" class="form-init--back">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <defs>
                                    <pattern id="b8" patternUnits="userSpaceOnUse" height="100%" width="100%">
                                        <image xlink:href="/assets/images/Rectangle 46.jpg" /> 
                                    </pattern> 
                                </defs> 
                                <text fill="url(#b8)">
                                    СВЯЗАТЬСЯ
                                </text>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="form-init">СВЯЗАТЬСЯ</a>
                        <a href="#" class="form-init--back">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <defs>
                                    <pattern id="b9" patternUnits="userSpaceOnUse" height="100%" width="100%">
                                        <image xlink:href="/assets/images/Rectangle 46.jpg"/> 
                                    </pattern> 
                                </defs> 
                                <text fill="url(#b9)">
                                    СВЯЗАТЬСЯ
                                </text>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="form-init">СВЯЗАТЬСЯ</a>
                        <a href="#" class="form-init--back">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <defs>
                                    <pattern id="b10" patternUnits="userSpaceOnUse" height="100%" width="100%" >
                                        <image xlink:href="/assets/images/Rectangle 46.jpg"/> 
                                    </pattern> 
                                </defs> 
                                <text fill="url(#b10)">
                                    СВЯЗАТЬСЯ
                                </text>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="get-in-touch-second-row-container mobile-get-in-touch-container">
                <ul class="get-in-touch-second-row-list1">
                    <li>
                        <a href="#" class="form-init">СВЯЗАТЬСЯ</a>
                        <a href="#" class="form-init--back">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
                                <defs>
                                    <pattern id="c0" patternUnits="userSpaceOnUse"  height="100%" width="100%" >
                                        <image xlink:href="/assets/images/Rectangle 46.jpg"/> 
                                    </pattern> 
                                </defs> 
                                <text fill="url(#c0)">
                                    СВЯЗАТЬСЯ
                                </text>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="form-init">СВЯЗАТЬСЯ</a>
                        <a href="#" class="form-init--back">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <defs>
                                    <pattern id="c1" patternUnits="userSpaceOnUse" height="100%" width="100%">
                                        <image xlink:href="/assets/images/Rectangle 46.jpg"/> 
                                    </pattern> 
                                </defs> 
                                <text fill="url(#c1)">
                                    СВЯЗАТЬСЯ
                                </text>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="form-init">СВЯЗАТЬСЯ</a>
                        <a href="#" class="form-init--back">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <defs>
                                    <pattern id="c2" patternUnits="userSpaceOnUse" height="100%" width="100%">
                                        <image xlink:href="/assets/images/Rectangle 46.jpg"/> 
                                    </pattern> 
                                </defs> 
                                <text fill="url(#c2)">
                                    СВЯЗАТЬСЯ
                                </text>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="form-init">СВЯЗАТЬСЯ</a>
                        <a href="#" class="form-init--back">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <defs>
                                    <pattern id="c3" patternUnits="userSpaceOnUse" height="100%" width="100%">
                                        <image xlink:href="/assets/images/Rectangle 46.jpg"/> 
                                    </pattern> 
                                </defs> 
                                <text fill="url(#c3)">
                                    СВЯЗАТЬСЯ
                                </text>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="form-init">СВЯЗАТЬСЯ</a>
                        <a href="#" class="form-init--back">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <defs>
                                    <pattern id="c4" patternUnits="userSpaceOnUse" height="100%" width="100%" >
                                        <image xlink:href="/assets/images/Rectangle 46.jpg"/> 
                                    </pattern> 
                                </defs> 
                                <text fill="url(#c4)">
                                    СВЯЗАТЬСЯ
                                </text>
                            </svg>
                        </a>
                    </li>
                </ul>
                <ul class="get-in-touch-second-row-list2">
                    <li>
                        <a href="#" class="form-init">СВЯЗАТЬСЯ</a>
                        <a href="#" class="form-init--back">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <defs>
                                    <pattern id="d1" patternUnits="userSpaceOnUse" height="100%" width="100%"  >
                                        <image xlink:href="/assets/images/Rectangle 46.jpg"/> 
                                    </pattern> 
                                </defs> 
                                <text fill="url(#d1)">
                                    СВЯЗАТЬСЯ
                                </text>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="form-init">СВЯЗАТЬСЯ</a>
                        <a href="#" class="form-init--back">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <defs>
                                    <pattern id="d2" patternUnits="userSpaceOnUse"  height="100%" width="100%" >
                                        <image xlink:href="/assets/images/Rectangle 46.jpg" /> 
                                    </pattern> 
                                </defs> 
                                <text fill="url(#d2)">
                                    СВЯЗАТЬСЯ
                                </text>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="form-init">СВЯЗАТЬСЯ</a>
                        <a href="#" class="form-init--back">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <defs>
                                    <pattern id="d3" patternUnits="userSpaceOnUse" height="100%" width="100%">
                                        <image xlink:href="/assets/images/Rectangle 46.jpg" /> 
                                    </pattern> 
                                </defs> 
                                <text fill="url(#d3)">
                                    СВЯЗАТЬСЯ
                                </text>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="form-init">СВЯЗАТЬСЯ</a>
                        <a href="#" class="form-init--back">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
                                <defs>
                                    <pattern id="d4" patternUnits="userSpaceOnUse" height="100%" width="100%">
                                        <image xlink:href="/assets/images/Rectangle 46.jpg" /> 
                                    </pattern> 
                                </defs> 
                                <text fill="url(#d4)">
                                    СВЯЗАТЬСЯ
                                </text>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="form-init">СВЯЗАТЬСЯ</a>
                        <a href="#" class="form-init--back">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <defs>
                                    <pattern id="d5" patternUnits="userSpaceOnUse" height="100%" width="100%" >
                                        <image xlink:href="/assets/images/Rectangle 46.jpg" /> 
                                    </pattern> 
                                </defs> 
                                <text fill="url(#d5)">
                                    СВЯЗАТЬСЯ
                                </text>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="get-in-touch-first-row-container mobile-get-in-touch-container">
                <ul class="get-in-touch-first-row-list1">
                    <li>
                        <a href="#" class="form-init">СВЯЗАТЬСЯ</a>
                        <a href="#" class="form-init--back">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <defs>
                                    <pattern id="d6" patternUnits="userSpaceOnUse" height="100%" width="100%" >
                                        <image xlink:href="/assets/images/Rectangle 46.jpg" /> 
                                    </pattern> 
                                </defs> 
                                <text  fill="url(#d6)">
                                    СВЯЗАТЬСЯ
                                </text>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="form-init">СВЯЗАТЬСЯ</a>
                        <a href="#" class="form-init--back">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <defs>
                                    <pattern id="d7" patternUnits="userSpaceOnUse" height="100%" width="100%" >
                                        <image xlink:href="/assets/images/Rectangle 46.jpg"/> 
                                    </pattern> 
                                </defs> 
                                <text fill="url(#d7)">
                                    СВЯЗАТЬСЯ
                                </text>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="form-init">СВЯЗАТЬСЯ</a>
                        <a href="#" class="form-init--back">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <defs>
                                    <pattern id="d8" patternUnits="userSpaceOnUse" height="100%" width="100%" >
                                        <image xlink:href="/assets/images/Rectangle 46.jpg"/> 
                                    </pattern> 
                                </defs> 
                                <text fill="url(#d8)">
                                    СВЯЗАТЬСЯ
                                </text>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="form-init">СВЯЗАТЬСЯ</a>
                        <a href="#" class="form-init--back">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
                                <defs>
                                    <pattern id="d9" patternUnits="userSpaceOnUse" height="100%" width="100%" >
                                        <image xlink:href="/assets/images/Rectangle 46.jpg"/> 
                                    </pattern> 
                                </defs> 
                                <text fill="url(#d9)">
                                    СВЯЗАТЬСЯ
                                </text>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="form-init">СВЯЗАТЬСЯ</a>
                        <a href="#" class="form-init--back">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <defs>
                                    <pattern id="d10" patternUnits="userSpaceOnUse" height="100%" width="100%">
                                        <image xlink:href="/assets/images/Rectangle 46.jpg"/> 
                                    </pattern> 
                                </defs> 
                                <text fill="url(#d10)">
                                    СВЯЗАТЬСЯ
                                </text>
                            </svg>
                        </a>
                    </li>
                </ul>
                <ul class="get-in-touch-first-row-list2">
                    <li>
                        <a href="#" class="form-init">СВЯЗАТЬСЯ</a>
                        <a href="#" class="form-init--back">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <defs>
                                    <pattern id="e1" patternUnits="userSpaceOnUse" height="100%" width="100%" >
                                        <image xlink:href="/assets/images/Rectangle 46.jpg"/> 
                                    </pattern> 
                                </defs> 
                                <text fill="url(#e1)">
                                    СВЯЗАТЬСЯ
                                </text>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="form-init">СВЯЗАТЬСЯ</a>
                        <a href="#" class="form-init--back">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <defs>
                                    <pattern id="e2" patternUnits="userSpaceOnUse"  height="100%" width="100%">
                                        <image xlink:href="/assets/images/Rectangle 46.jpg"/> 
                                    </pattern> 
                                </defs> 
                                <text fill="url(#e2)">
                                    СВЯЗАТЬСЯ
                                </text>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="form-init">СВЯЗАТЬСЯ</a>
                        <a href="#" class="form-init--back">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <defs>
                                    <pattern id="e3" patternUnits="userSpaceOnUse" height="100%" width="100%">
                                        <image xlink:href="/assets/images/Rectangle 46.jpg"/> 
                                    </pattern> 
                                </defs> 
                                <text fill="url(#e3)">
                                    СВЯЗАТЬСЯ
                                </text>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="form-init">СВЯЗАТЬСЯ</a>
                        <a href="#" class="form-init--back">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <defs>
                                    <pattern id="e4" patternUnits="userSpaceOnUse"  height="100%" width="100%">
                                        <image xlink:href="/assets/images/Rectangle 46.jpg"/> 
                                    </pattern> 
                                </defs> 
                                <text fill="url(#e4)">
                                    СВЯЗАТЬСЯ
                                </text>
                            </svg>
                        </a>
                    </li>         
                    <li>
                        <a href="#" class="form-init">СВЯЗАТЬСЯ</a>
                        <a href="#" class="form-init--back">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <defs>
                                    <pattern id="e5" patternUnits="userSpaceOnUse"  height="100%" width="100%">
                                        <image xlink:href="/assets/images/Rectangle 46.jpg"/> 
                                    </pattern> 
                                </defs> 
                                <text fill="url(#e5)">
                                    СВЯЗАТЬСЯ
                                </text>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- готово -->
    <div class="footer">
        <div class="footer__logo">
            <img src="/assets/images/logo (2) 1.jpg" alt="">
        </div>
        <div class="footer__nav">
            <ul>
                <li class="nav__item">
                    <a class="nav__link" href="">Главная</a>
                    <a class="nav__link--back" href="">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <defs>
                                <pattern id="p1" patternUnits="userSpaceOnUse" height="100%" width="100%">
                                    <image xlink:href="/assets/images/Rectangle 46.jpg"/> 
                                </pattern> 
                            </defs> 
                            <text x="0" y="0" fill="url(#p1)">
                                Главная
                            </text>
                        </svg>
                    </a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="">о нас</a>
                    <a class="nav__link--back" href="">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <defs>
                                <pattern id="p2" patternUnits="userSpaceOnUse" height="100%" width="100%">
                                    <image xlink:href="/assets/images/Rectangle 46.jpg"/> 
                                </pattern> 
                            </defs> 
                            <text x="0" y="0" fill="url(#p2)">
                                о нас
                            </text>
                        </svg>
                    </a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="">услуги</a>
                    <a class="nav__link--back" href="">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <defs>
                                <pattern id="p3" patternUnits="userSpaceOnUse"  height="100%" width="100%">
                                    <image xlink:href="/assets/images/Rectangle 46.jpg"/> 
                                </pattern> 
                            </defs> 
                            <text x="0" y="0" fill="url(#p3)">
                                услуги
                            </text>
                        </svg>
                    </a>
                </li>
            </ul>
            <ul>
                <li class="nav__item">
                    <a class="nav__link" href="portfolio.html">портфолио</a>
                    <a class="nav__link--back" href="portfolio.html">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <defs>
                                <pattern id="p4" patternUnits="userSpaceOnUse"  height="100%" width="100%">
                                    <image xlink:href="/assets/images/Rectangle 46.jpg"/> 
                                </pattern> 
                            </defs> 
                            <text x="0" y="0" fill="url(#p4)">
                                портфолио
                            </text>
                        </svg>
                    </a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="">отзывы</a>
                    <a class="nav__link--back" href="">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <defs>
                                <pattern id="p5" patternUnits="userSpaceOnUse"  height="100%" width="100%">
                                    <image xlink:href="/assets/images/Rectangle 46.jpg"/> 
                                </pattern> 
                            </defs> 
                            <text x="0" y="0" fill="url(#p5)">
                                отзывы
                            </text>
                        </svg>
                    </a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="">контакты</a>
                    <a class="nav__link--back" href="">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <defs>
                                <pattern id="p6" patternUnits="userSpaceOnUse" height="100%" width="100%">
                                    <image xlink:href="/assets/images/Rectangle 46.jpg"/> 
                                </pattern> 
                            </defs> 
                            <text x="0" y="0" fill="url(#p6)">
                                контакты
                            </text>
                        </svg>
                    </a>
                </li>

            </ul>
        </div>    

        <div class="footer__network">
            <div class="footer__network__content">
                <ul>
                    <li><a href=""><img src="/assets/images/icons/003-instagram.jpg "alt=""></a></li>
                    <li><a href=""><img src="/assets/images/icons/001-behance.jpg" alt=""></a></li>
                </ul>
                <ul>
                    <li><a href=""><img src="/assets/images/icons/005-dribble-big-logo.jpg" alt=""></a></li>
                    <li><a href=""><img src="/assets/images/icons/3 1.jpg" alt=""></a></li>
                </ul>
            </div>
        </div>

    </div>

</footer>

